@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

/* :root {
  --darkBlue: #4056a1;
} */

.nav{
  width: 100vw;
  height: 60px;
  /* background-color: var(--darkBlue); */
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 3px 0px 3px 0px;
}

.navLeft {
  font-family: "Kaushan Script", cursive;
  font-size: 25px;
  height: 100%;
  flex: 25%;
  margin-left: 30px;
}

.navLeft h1 {
  color: #d79922;
  font-weight: 400;
}

.navRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 70%;
  height: 100%;
}

.navRight-user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 5%;
  height: 85%;
  margin-right: 20px;

  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 10px;
}

.navRight-userInitials {
  background-color: rgb(99, 99, 99);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  width: 15px;
  padding: 10px;
  margin: 10px;
  border-radius: 100px;
  color: #fff;
  font-weight: 900;
}

.navLink {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  margin: 0px 15px 0px 15px;
  text-decoration: none;
  font-size: 20px;
}

.navLink-username {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  margin: 0px 15px 0px 15px;
  text-decoration: none;
  font-size: 20px;
  cursor: default;
}

.navLink:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}